@model CityWeatherWrapper

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Weather Home Page</title>
    <link rel="stylesheet" href="~/StyleSheet.css" />
</head>
<body>
    <h1>Weather City 1</h1>
    <ul>
        <li>@Model.cww1.City_Unique_Code</li>
        <li>@Model.cww1.City_Name</li>
        <li>@Model.cww1.Date_Time</li>
        <li>@Model.cww1.TemperatureF</li>
    </ul>
    <br />
    <h1>Weather City 2</h1>
    <ul>
        <li>@Model.cww2.City_Unique_Code</li>
        <li>@Model.cww2.City_Name</li>
        <li>@Model.cww2.Date_Time</li>
        <li>@Model.cww2.TemperatureF</li>
    </ul>
    <br />
    <h1>Weather City 2</h1>
    <ul>
        <li>@Model.cww3.City_Unique_Code</li>
        <li>@Model.cww3.City_Name</li>
        <li>@Model.cww3.Date_Time</li>
        <li>@Model.cww3.TemperatureF</li>
    </ul>
</body>
</html>