@*
    Home view page with hard coded data
*@

@model AllWeather

<!DOCTYPE HTML>
<html>
    <head>
        <title>HomePage</title>
        <meta charset="utf-8" />
        <link href="~/StyleSheet.css" rel="stylesheet" />
        <style>
            .float-center{float: inline-start}
            .float-right{float: inline-end}
            .div-center{margin: auto}
            .width{max-width: 20px}
            .color-hot {background-color: lightcoral}
            .color-medium {background-color: lightgreen}
            .color-cold {background-color: cornflowerblue}
        </style>
    </head>
    <body>
        
    @{
        char deg_symbol = (char)0x00B0;
    }

        <h1 class="text-center">Weather</h1>

        <div class=" box w-10 text-center flex div-center margin-top-200 width float-left color-medium">
            <text>@Model.list_weather[0].name</text>
            <text>@Model.list_weather[0].date_time.TimeOfDay</text>
            <text>@Model.list_weather[0].temperature @deg_symbol C</text>
            @Html.ActionLink("details", "Index", "Detail", new { city_code = "100" }, null)
        </div>

        <div class="box w-10 text-center flex div-center margin-top-200 float-center width color-hot">
            <text>@Model.list_weather[1].name</text>
            <text>@Model.list_weather[1].date_time.TimeOfDay</text>
            <text>@Model.list_weather[1].temperature @deg_symbol C</text>
            @Html.ActionLink("details", "Index", "Detail", new { city_code = "101" }, null)
        </div>

        <div class="box w-10 text-center flex div-center margin-top-200 float-center width color-cold">
            <text>@Model.list_weather[2].name</text>
            <text>@Model.list_weather[2].date_time.TimeOfDay</text>
            <text>@Model.list_weather[2].temperature @deg_symbol C</text>
            @Html.ActionLink("details", "Index", "Detail", new { city_code = "102" }, null)
        </div>
    </body>
</html>